<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="funwithcountries">

    <h1>Fun with Countries</h1>
    <div ng-controller="CountryController as countryCtrl">
        <ul>
            <li ng-repeat="i in countryCtrl.countries">
                <img ng-src="images/{{ i.code }}.png">
                {{ i.name }}
                <ul ng-show="i.states.length > 0">
                    <li ng-repeat="j in i.states">
                        {{ j.name }}
                    </li>
                </ul>
                <input type="text" name="state" ng-model="countryCtrl.newState">
                <a href ng-click="countryCtrl.addStateTo(i)">Add state {{ countryCtrl.newState }}</a>
            </li>
        </ul>
    </div>


</body>
</html>